    <!-- author block -->
    <div class="meta">
        {{with .Params.author.image}}<div class="minilogo" style="background-image: url('{{.}}');"></div>{{end}}
        <div>
         <a href="{{ .RelPermalink }}"><h5 >{{ title .Title }}</h5></a>
            <strong><a href="{{ .Params.author.website }}">{{ .Params.author.name }}</a></strong>
            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
           {{with .Params.tags}}<small>Tags: {{delimit (apply . "partial" "linktag" "." ) ", " }}</small>{{end}}
           {{with .Params.levels}}<small>Level: {{delimit (apply . "partial" "linklevel" "." ) ", " }}</small>{{end}}
        </div>
    </div>
